.LoginPage {
  font-family: "KoPub Batang", serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 411px;
  height: 731px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #142a3c 0%, #3b2434 100%);
}

.Heading {
  width: 100%;
  height: auto;
  color: #f7f2f2;
  align-self: flex-end;
}

.Heading h1 {
  max-width: 80%;
  margin: 0 auto;
  font-size: 3.583em;
  font-weight: normal;
}
.Heading h3 {
  margin-top: 3em;
  font-size: 1em;
  font-weight: normal;
}

.ButtonGroup {
  width: 100%;
}
